@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Mukta', monospace;
    background-color: rgb(193, 235, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body >h1{
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
    color: rgb(53, 144, 156);
    font-size: 40px;
}
.vat{
    border: 1px solid rgb(193, 235, 255);
    background-color: rgb(245, 252, 253);
    border-radius: 8px;
    width: 500px;
    height: 320px;
    margin-top: 40px;
}
.vat>h4{
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
}
.vat #total{
    width: 270px;
    height: 40px;
    margin-top: 10px;
    text-align: right;
    border-radius: 6px;
    outline: none;
    padding-right: 10px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    margin-left: 20px;
    background-color: rgb(230, 247, 255);
}
.vat #total::placeholder{
    float: right;
    font-size: 25px;
    color: rgb(194, 193, 193);
    font-weight: bolder;
    padding-right: 10px;
    padding-top: 4px;
}
.vat #btn1{
    width: 70px;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 6px;
    background-color: rgb(163, 218, 228);
    font-size: 25px;
    color: rgb(53, 144, 156);
    margin-left: 20px;
    cursor: pointer;
}
.vat #btn2{
    width: 70px;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 6px;
    background-color: rgb(163, 218, 228);
    font-size: 25px;
    color: rgb(53, 144, 156);
    margin-left: 10px;
    cursor: pointer;
}
.box1{
    color: #fff;
    padding-left: 10px;
    background-color: rgb(53, 144, 156);
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid rgb(53, 144, 156);
    width: 450px;
    border-radius: 6px;
    font-weight: bolder;
    height: 160px;
}
.box1>h3{
    color: rgb(163, 218, 228);
}
.box1>div{
    font-size: 30px;
}

.rate{
    border: 1px solid rgb(193, 235, 255);
    background-color: rgb(245, 252, 253);
    border-radius: 8px;
    width: 500px;
    height: 320px;
    margin-top: 40px;
}

.rate>h4{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
.rate #initial{
    width: 270px;
    height: 40px;
    margin-top: 10px;
    text-align: right;
    border-radius: 6px;
    outline: none;
    padding-right: 10px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    margin-left: 20px;
    background-color: rgb(230, 247, 255);
}
.rate #initial::placeholder{
    float: right;
    font-size: 25px;
    color: rgb(194, 193, 193);
    font-weight: bolder;
    padding-right: 10px;
    padding-top: 4px;
}
.rate #change{
    width: 270px;
    height: 40px;
    margin-top: 10px;
    text-align: right;
    border-radius: 6px;
    outline: none;
    padding-right: 10px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    margin-left: 20px;
    background-color: rgb(230, 247, 255);
}
.rate #change::placeholder{
    float: right;
    font-size: 25px;
    color: rgb(194, 193, 193);
    font-weight: bolder;
    padding-right: 10px;
    padding-top: 4px;
}
.rate #btn3{
    width: 70px;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 6px;
    background-color: rgb(163, 218, 228);
    font-size: 25px;
    color: rgb(53, 144, 156);
    margin-left: 20px;
    cursor: pointer;
}
.rate #btn4{
    width: 70px;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 6px;
    background-color: rgb(163, 218, 228);
    font-size: 25px;
    color: rgb(53, 144, 156);
    margin-left: 10px;
    cursor: pointer;
}
.box2{
    color: #fff;
    padding-left: 10px;
    background-color: rgb(53, 144, 156);
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid rgb(53, 144, 156);
    width: 450px;
    border-radius: 6px;
    font-weight: bolder;
    height: 80px;
}
.box2 >h4{
    color: rgb(163, 218, 228);
}
.box2 #changeprice{
    font-size: 30px;
}